name: Publish Package

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.workflow_run.head_branch }}

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '22.x'
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build
      run: yarn build

    - name: Check if alpha version
      id: check_version
      run: |
        VERSION=$(node -p "require('./package.json').version")
        if [[ $VERSION == *"-alpha."* ]]; then
          echo "is_alpha=true" >> $GITHUB_OUTPUT
        else
          echo "is_alpha=false" >> $GITHUB_OUTPUT
        fi
        echo "Current version: $VERSION"

    - name: Publish Alpha
      if: steps.check_version.outputs.is_alpha == 'true'
      run: npm publish --tag alpha --access public --provenance

    - name: Publish Regular
      if: steps.check_version.outputs.is_alpha == 'false'
      run: |
        yarn package:build
        npm publish --access public --provenance

    - name: Configure AWS Credentials
      if: steps.check_version.outputs.is_alpha == 'false'
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1

    - name: Upload to S3
      if: steps.check_version.outputs.is_alpha == 'false'
      run: aws s3 cp dist/umd s3://${{ secrets.AWS_S3_BUCKET }} --recursive --follow-symlinks

    - name: Invalidate CloudFront
      if: steps.check_version.outputs.is_alpha == 'false'
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DISTRIBUTION }} --paths "/*"
